Flask==3.0.3
gunicorn==22.0.0
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
PyMySQL==1.1.1
bcrypt==4.2.0
SQLAlchemy==2.0.36
APScheduler==3.10.4
pyotp==2.9.0
qrcode==7.4.2
psutil==6.1.0
flask-sock==0.7.0
simple-websocket==1.0.0
paramiko==3.5.0
